<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap com desktop">

	<Identity
	  Name="c6d297e3-90b3-45d7-8116-b599de47cc6a"
	  Publisher="CN=nanoc"
	  Version="1.0.7.0" />

	<mp:PhoneIdentity PhoneProductId="c6d297e3-90b3-45d7-8116-b599de47cc6a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>App1</DisplayName>
		<PublisherDisplayName>guerr</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">

			<uap:VisualElements
			  DisplayName="Asistente de voz - ANFETA"
			  Description="Asistente de voz empresarial para gestión de proyectos"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>

			<Extensions>
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:ExeServer Executable="$targetnametoken$.exe" DisplayName="Anfeta Notifications">
							<com:Class Id="eb5a0b9d-7f4e-4f3e-9b2a-5c8f6d4e3a1b" DisplayName="Toast activator"/>
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>
				<desktop:Extension Category="windows.toastNotificationActivation">
					<desktop:ToastNotificationActivation ToastActivatorCLSID="eb5a0b9d-7f4e-4f3e-9b2a-5c8f6d4e3a1b" />
				</desktop:Extension>
				<desktop:Extension Category="windows.startupTask">
					<desktop:StartupTask
						TaskId="AnfetaStartup"
						Enabled="false"
						DisplayName="Anfeta" />
				</desktop:Extension>
			</Extensions>

		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<rescap:Capability Name="runFullTrust" />
		<DeviceCapability Name="microphone"/>
	</Capabilities>
</Package>